<ion-header>
  <ion-toolbar>
    <ion-searchbar  placeholder="search with keyword"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&w=1000&q=80"/>
        <ion-card-header>
          <ion-card-title>Ben carsson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="danger"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Ofline
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">influencer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="item_position" lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>2hr 55min</ion-label>
          </ion-item>
          <ion-item class="item_position" lines="none">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>5km away</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-col>
      <ion-col size="6">

        <ion-card-header>
          <ion-card-subtitle class="ion-text-end" class="online_item">
            <ion-badge color="primary"> &nbsp;&nbsp;&nbsp;</ion-badge>&nbsp;&nbsp;Online
          </ion-card-subtitle>
          <ion-card-title class="ion-text-nowrap ion-text-center">Graphics designer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <ion-button color="primary" shape="round">View profile</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
<app-footer></app-footer>
