ion-row {
  margin: 0 25px;
}

ion-content {
  --background: #f7f2f2;
}

.img-cover {
  border-radius: 50%;
  width: 100px;
  border: 5px solid red;
  justify-self: center;
  margin: 0 auto;
  display: flex;
}

ion-toolbar {
  --background: #33318c;
}

ion-card {
  background: transparent;
  overflow: unset;
  border: unset;
  box-shadow: unset;
  margin: 20px 0;
}

ion-label {
  margin-left: 10px;
  color: white;
  font-weight: bolder;
}

.change_picture_button {
  border: 2px solid #fff;
  border-radius: 50px;
  --color: #fff;
  width: 130px;
  font-size: 12px;
}

.online_list {
  padding: 0;
  border: unset;
  outline: unset;
  background: unset;
  box-shadow: unset;
}

.online_list ion-item {
  background: unset;
  --background: unset;
  color: #ffffff;
}

ion-card-title {
  text-align: center;
  display: flex;
  justify-content: center;
}

.paragraphe_bio_title {
  width: 150px;
  margin: 20px auto;
  /* text-align: center; */
  color: blue;
  background: #fff;
  border-radius: 15px;
  padding: 10px 0;
}

.paragraphe_profession {
  margin: 0;
  background: #fff;
  border-radius: 15px;
  padding: 50px 20px;

  text-align: center;
}

.bio_title_row {
  height: 45px;
}

.row_skills {
  height: 25px;
}

.skills_title_row {
  height: 20px;
}

.row_bio {
  height: 83px;

  margin: 0 25px;
}

.paragraphe_bio {
  margin: 20px auto;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.paragraphe_skills {
  //margin: 20px ;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.skills_title_row {
  margin: 10px 0 0 20px;
}

.profession_title_row {
  height: 25px;
  margin: 40px 0 0 25px;
}

.paragraphe_profession_title {
  margin: 0;
}

.row_picture img {
  border-radius: 15px;
  width: 250px;
  /* border: 5px solid red; */
  justify-self: center;
  margin: 0 auto;
  display: flex;
}
.online_list ion-item:first-child{
  height: 30px;
}
