<ion-footer>
  <ion-row class="add-custom-menue">
    <ion-col size="3" class="has-left-bar-footer contact-font " >
      <ion-icon name="home-sharp"></ion-icon>    </ion-col>
    <ion-col size="3" class="has-left-bar-footer contact-font ">
      <ion-icon name="apps-sharp"></ion-icon>
    </ion-col>
    <ion-col size="3" class="has-left-bar-footer contact-font">
      <ion-icon name="chatbubbles-sharp"></ion-icon>
    </ion-col>
    <ion-col size="3" class="has-left-bar-footer contact-font contact-avatar">
      <ion-avatar>
        <ion-img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"></ion-img>
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-footer>
