<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card><ion-card>
    <ion-row>
      <ion-col size="6">
        <img class="img-cover ion-justify-content-center"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"/>
        <ion-card-header>
          <ion-card-title>Jeenifer Gudson</ion-card-title>
        </ion-card-header>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
<app-footer></app-footer>
